/* Test css file to explore absolute URL references */
h1 {
    background: green url(data:image/gif;base64,R0lGODlhAQABAIAAAAD/AAAAACwAAAAAAQABAAACAkQBADs=); /* in the parent dir */
}
h2 {
    background: green url(data:image/gif;base64,R0lGODlhAQABAIAAAAD/AAAAACwAAAAAAQABAAACAkQBADs=); /* in the same dir */
}
h3 {
    background: green url(data:image/gif;base64,R0lGODlhAQABAIAAAAD/AAAAACwAAAAAAQABAAACAkQBADs=); /* in a sibling dir */
}